[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.artsy.net/artwork/marina-apollonio-spazio-ad-attivazione-cinetica-6b
Type=Link
URL=https://www.artsy.net/artwork/marina-apollonio-spazio-ad-attivazione-cinetica-6b
Icon=text-html
